<div class="row">
  <div class="col-md-4">
    <list-bar [itemList]="purchaseList" [listTitle]="listTitle" [properties]="listProperties" (select)="itemSelected($event)"></list-bar>
  </div>

  <div class="col-md-8">
    <form [formGroup]="frmPurchase">
      <div class="form-row">

        <div class="form-group col-md-3">
          <label for="Id">Purchase ID</label>
          <input id="Id" name="Id" type="text" value="" formControlName="Id" maxlength="11" readonly="true" />
        </div>

        <div class="form-group col-md-3">
          <label for="PurDate">Purchase Date</label>
          <kendo-datepicker
            [format]="'yyyy-MM-dd'"
            id="PurDate"
            name="PurDate"
            formControlName="PurDate">
          </kendo-datepicker>
        </div>
    
        <div class="form-group col-md-6">
          <label for="SupplierId">Supplier</label>
          <kendo-dropdownlist
            [data]="supplierDropdownData"
            [valuePrimitive]="true"
            textField="Text"
            valueField="Value"
            [defaultItem]="defaultItem"
            formControlName="SupplierId">
          </kendo-dropdownlist>
        </div>

      </div>
    
      <button (click)="save()" class="btn btn-primary">Save</button>&nbsp;
      <button (click)="clear()" class="btn btn-primary">Clear</button>&nbsp;
      <button (click)="delete()" class="btn btn-danger">Delete</button>
    
      <br />
      <br />
    
      <kendo-grid
        [data]="gridData"
        (edit)="editHandler($event)"
        (cancel)="cancelHandler($event)"
        (save)="saveHandler($event)"
        (remove)="removeHandler($event)"
        (add)="addHandler($event)">

        <ng-template kendoGridToolbarTemplate>
          <button kendoGridAddCommand>Add new</button>
        </ng-template>

        <kendo-grid-column title="S/N" width="50">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
            {{ rowIndex + 1 }}
          </ng-template>
          <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
              <span></span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="Id" [hidden]="true">
          <ng-template
            kendoGridEditTemplate
            let-dataItem="dataItem"
            let-rowIndex="rowIndex">
            <input type="text"
              class="form-control"
              [formControl]="formGroup.get('Id')"/>
          </ng-template>
        </kendo-grid-column>
    
        <kendo-grid-column field="ItemId" title="Item">
          <ng-template
            kendoGridCellTemplate
            let-dataItem="dataItem"
            let-rowIndex="rowIndex">
            <span>{{ dataItem.ItemId }}</span>
          </ng-template>
          <ng-template
            kendoGridEditTemplate
            let-dataItem="dataItem"
            let-rowIndex="rowIndex">

          <kendo-dropdownlist class="k-dropdown"
            [data]="itemDropdownData"
            textField="Text"
            valueField="Value"
            [defaultItem]="defaultItem"
            (valueChange)="onItemDropDownChange($event)">

          </kendo-dropdownlist>
          </ng-template>
        </kendo-grid-column>
    
        <kendo-grid-column field="ItemName" title="Item Name">
          <ng-template
            kendoGridCellTemplate
            let-dataItem="dataItem"
            let-rowIndex="rowIndex">
            <span>{{ dataItem.ItemName }}</span>
          </ng-template>
          <ng-template
            kendoGridEditTemplate
            let-dataItem="dataItem"
            let-rowIndex="rowIndex">
            <input type="text" class="form-control" [formControl]="formGroup.get('ItemName')"/>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="PurchasePrice" title="Purchase Price" [headerStyle]="{'text-align': 'right'}" [style]="{'text-align': 'right'}">    
          <ng-template
            kendoGridCellTemplate
            let-dataItem="dataItem"
            let-rowIndex="rowIndex">
            <span>{{ dataItem.PurchasePrice }}</span>
          </ng-template>
          <ng-template
            kendoGridEditTemplate
            let-dataItem="dataItem"
            let-rowIndex="rowIndex">
            <input
              type="text"
              class="form-control"
              [formControl]="formGroup.get('PurchasePrice')"
              />
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="Qty" title="Qty" required="true" [headerStyle]="{'text-align': 'right'}" [footerStyle]="{'text-align': 'right'}" [style]="{'text-align': 'right'}">    
          <ng-template
            kendoGridCellTemplate
            let-dataItem="dataItem"
            let-rowIndex="rowIndex">
            <span>{{ dataItem.Qty }}</span>
          </ng-template>
          <ng-template
            kendoGridEditTemplate
            let-dataItem="dataItem"
            let-rowIndex="rowIndex">
            <input
              type="number"
              class="form-control"
              [formControl]="formGroup.get('Qty')"
              
              (change)="totalAmountCalculation($event, rowIndex)"/>
          </ng-template>
          <ng-template kendoGridFooterTemplate let-column="column">
            <span>{{ getFooterQtySum('Qty') }}</span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="Amount" title="Amount" readonly="true" [headerStyle]="{'text-align': 'right'}" [footerStyle]="{'text-align': 'right'}" [style]="{'text-align': 'right'}">    
          <ng-template
            kendoGridCellTemplate
            let-dataItem="dataItem"
            let-rowIndex="rowIndex">
            <span>{{ dataItem.Amount }}</span>
          </ng-template>
          <ng-template
            kendoGridEditTemplate
            let-dataItem="dataItem"
            let-rowIndex="rowIndex">
            <span>{{ dataItem.Amount }}</span>
          </ng-template>
          <ng-template kendoGridFooterTemplate let-column="column">
            <span>{{ getFooterQtySum('Amount') }}</span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-command-column title="Action" [width]="220">
          <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button kendoGridRemoveCommand>Remove</button>
            <button kendoGridSaveCommand [disabled]="formGroup?.invalid">
              {{ isNew ? "Add" : "Update" }}
            </button>
            <button kendoGridCancelCommand>
              {{ isNew ? "Discard changes" : "Cancel" }}
            </button>
          </ng-template>
        </kendo-grid-command-column>

      </kendo-grid>
    </form> 
  </div>
</div>

