<form [formGroup]="frmPurchase">
    <div class="form-row">
      <!-- <div class="form-group col-md-6">
        <label for="PurId">Purchase ID</label>
        <input type="text" class="form-control" id="PurId" formControlName="PurId" placeholder="Purchase ID">
      </div> -->
      <div class="form-group col-md-6">
        <label for="PurDate">Purchase Date</label>
        <kendo-datepicker [format]="'yyyy-MM-dd'" id="PurDate" name="PurDate" formControlName="PurDate">
        </kendo-datepicker>
      </div>

      <!-- <div class="form-group">
        <label class="col-form-label" for="transactionDate">{{ 'lbl_batch_creation_date' |
          translate}}</label>
        <kendo-datepicker [format]="'yyyy-MM-dd'" class="form-control text-box single-line"
          id="transactionDate" name="transactionDate" formControlName="transactionDate">
        </kendo-datepicker>
      </div> -->
      <div class="form-group col-md-6">
        <label for="SupplierId">Supplier</label>
        <input type="text" class="form-control" id="SupplierId" formControlName="SupplierId" placeholder="Supplier">
      </div>

    </div>


    <button (click)="save()" class="btn btn-primary">Save</button>
    <button (click)="clear()" class="btn btn-primary">Clear</button>

    <br>
    <br>

    <kendo-grid [data]="gridData"
              (edit)="editHandler($event)"
              (cancel)="cancelHandler($event)"
              (save)="saveHandler($event)"
              (remove)="removeHandler($event)"
              (add)="addHandler($event)" >

      <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand >
          Add new
        </button>
      </ng-template>
      <kendo-grid-column field="Id" [hidden]="true">
        <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
          <input type="text" class="form-control" [formControl]="formGroup.get('Id')" >
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="ItemCode" title="Item Code">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
          <span>{{dataItem.ItemCode}}</span>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
          <input type="text" class="form-control" [formControl]="formGroup.get('ItemCode')" placeholder="ItemCode">
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="ItemName" title="Item Name">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
          <span>{{dataItem.ItemName}}</span>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
          <input type="text" class="form-control" [formControl]="formGroup.get('ItemName')" placeholder="ItemName">
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="PurchasePrice" title="Purchase Price">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
          <span>{{dataItem.PurchasePrice}}</span>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
          <input type="text" class="form-control" [formControl]="formGroup.get('PurchasePrice')" placeholder="Purchase Price">
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-command-column title="Action" [width]="220">
          <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button kendoGridRemoveCommand>Remove</button>
            <button kendoGridSaveCommand [disabled]="formGroup?.invalid">
              {{ isNew ? "Add" : "Update" }}
            </button>
            <button kendoGridCancelCommand>
              {{ isNew ? "Discard changes" : "Cancel" }}
            </button>
          </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>

  </form>

